<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
	<div class = "row">
        <div class = "col-lg-4"></div>
		<div class = "col-lg-4">
			{% block registration_group %}{% endblock %}
		</div>
        <div class = "col-lg-4"></div>
    </div>
    <div class = "row">
		 <div class="col-lg-4 col-md-3 col-sm-1"></div>
		 <div class="col-lg-4 col-md-6 col-sm-10">
			 {% block back_button %}{% endblock %}
		 </div>
		 <div class="col-lg-4 col-md-3 col-sm-1"></div>
    </div>
</div>
</body>
</html>
